* {
    margin: 0;
    box-sizing: border-box;
}  
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* Nav */
#nav-section {
    background-color: #1e6937;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
nav {
    padding: 1.4rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;
}
.nav-home a{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}
.nav-buttons{
    display: flex;
    gap: 3rem;
}
.nav-buttons a {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}
.nav-buttons a:hover{
    color: #1a1a1ae5;
    transition: 0.5s;
}
/* End of Nav */

/* Home */
#home{
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
}
.home-container{
    position: relative;
    top: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.home-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.home-content-text-container{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6rem;
}
h1{
    color: #1e6937;
    font-weight: 800;
    font-size: 4.1rem;
}

.skills-container{
    position: relative;
    top: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skills-container p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    border-right: 2px solid rgba(45,46,50,.5);
    line-height: 3.8rem;
    padding-right: 1.2rem;
    margin-right: 2rem;
}
.skills-logos-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 5rem;
    flex-wrap: wrap;
}
.logo-container{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 5px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 2.5rem;
}
.java-logo{
    height: 3.1rem;
}

#profile-picture{
    height: 25vw;
    border-radius: 3em;
    border: 5px solid #f9f9f9;
}
/* End of Home */

/* About  */
#about{
    background-color: #1e6937;
    height: 70vh;
}
.about-me-content{
    display: flex;
    flex-direction: column;
}
.about-me-heading{
    background-color: tomato;
    text-align: center;
}
.about-me-heading h2{
    font-family:  'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}
.about-me-text {
    background-color: lightblue;
    width: 25rem;
}
.about-me-text p{
    font-family:  'Noto Sans', sans-serif;
    font-size: 1rem;
}


