* {
    margin: 0;
    box-sizing: border-box;
}  
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

  /* Nav */
.nav-container {
    background-color: #1e6937;
    width: 100%;
    padding: 1.5rem 1.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav {
    text-align: right;
    text-transform: uppercase;
    flex: 1;
}
nav a {
    color: white;
    font-family: 'Noto Sans';
    text-decoration: none;
    margin-right: 5%;
    font-size: 1.1rem;
}
nav a:hover{
    color: black;
    transition: 0.5s;
}
/* End of Nav */

/* Home */
#home-section{
    background-color: #f9f9f9;
    /* background-color: lightseagreen; */
    height: 100vh;
    width: 100%;
}
.home-container{
    /* background-color: lightblue; */
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.home-content{
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

}
.home-content-text-container{
    /* background-color: pink; */
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5rem;
}
h1{
    color: #3f8a58;
    font-weight: 800;
    font-size: 4rem;
}
.skills-container{
    /* background-color: lightgreen; */
    font-family: 'Noto Sans';
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    top: 2rem;
}
#profile-picture{
    height: 40vh;
    border-radius: 50%;
    border: 5px solid white;
}





